/* General Styles */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  background-image: url(images/contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #000000;
}

header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px; /* Adjust max-width as needed */
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.052);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.529);
  margin-top: 20px;
}

/* Typography */
h1 {
  margin: 0;
  font-size: 2.8em;
  color: #ffffff;
  padding: 10px;
  filter: drop-shadow(0 0 10px rgb(246, 239, 239));
}

.heading {
  font-size: 1.8em;
  font-weight: bold;
  color: #000000;
  filter: drop-shadow(0 0 10px rgb(246, 239, 239));
}

.content {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2em;
}

/* Lists */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  list-style: disc;
}

/* Animation */
.content,
.heading,
ul,
li,
.last {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.content,
.heading {
  animation: fadeInUp 0.6s forwards;
}

ul,
li {
  animation: fadeInUp 0.6s forwards 0.4s;
}

@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

li,
p {
  transition: color 0.5s all ease;
}

li:hover,
p:hover {
  color: rgb(0, 225, 255);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .container {
      width: 95%;
      padding: 10px;
  }

  h1 {
      font-size: 2em;
  }

  .heading {
      font-size: 1.5em;
  }

  .content {
      font-size: 1.2em;
  }

  h2 {
      font-size: 1.8em;
  }

  ul {
      margin-left: 20px;
  }
  
  p, li {
      font-size: 1em;
  }
}
